[client]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

lower_cache_table_names = 1

skip-host-cache
skip-name-resolve

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 1
log_queries_not_using_indexes = 0
log_timestamps = SYSTEM

ngram_token_size = 2
ft_min_word_len = 2
innodb_fit_min_token_size = 2
innodb_fit_enable_stopword = 1

[mysql]
default-character-set = utf8mb4